
<div class="edit">
  <div class="form">
<h3>Update your service</h3>
    <%= render 'form', service: @service %>
  </div>
  <div class="image">
    <% image = @service.photo.nil? ? "phiver.png" : @service.photo %>
    <%= cl_image_tag image %>
  </div>
</div>
