<div class="edit">
  <div class="form">
<h3>Update your service</h3>
    <%= render 'form', service: @service %>
  </div>
  <div class="image">
      <% if @service.photo_url.nil? %>
        <%= image_tag "phiver.png"%>
      <%else%>
        <%= cl_image_tag @service.photo %>
      <%end%>
  </div>
</div>
