<div class="container">
  <div class="row">
    <% @services.each do |service| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card-trip">
        <% if service.photo_url.nil? %>
        <%= image_tag "phiver.png"%>
        <%else%>
        <%= cl_image_tag service.photo %>
        <%end%>
        <div class="card-trip-infos">
          <div>
            <h2><%=link_to service.name, service %></h2>
            <p>evaluation stars!</p>
          </div>
          <h2>$<%= service.price %>/hour </h2>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
