<div class="container">
  <div class="row justify-content-center">
    <div class="show-card">
      <div class="col-5 px-100">
      <%= @service.name.capitalize %> - <%= @service.user_id %> - <%= @service.description %></li>
      <%= link_to 'Book Now', "#"%>
    </div>
  </div>
</div>
</div>
