<div class="container justify-content-left">
    <%= simple_form_for([@service, @booking]) do |f| %>
      <div class="form-inputs">
        <label for="Time Needed">Time Needed</label>
        <br>
        <input type="time" name="Time Needed">
      </div>
      <div class="form-inputs">
        <label for="Date Needed">Date Needed</label>
        <br>
        <input type="date" name="Date Needed">
      </div>
      <div class="form-inputs">
        <label for="Hours Needed">Total Hours Needed</label>
        <br>
        <input type="integer" name="Hours Needed">
      </div>
      <div class="form-inputs">
        <label for="Total Cost">Total Cost</label>
        <br>
        <input type="integer" name="Total Cost">
      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-success" %>
      </div>
    </div>
    <% end %>
  </div>

