<div class="container justify-content-left">
  <%= simple_form_for([@service, @booking]) do |f| %>
  <div class="form-inputs">
    <label for="Time Needed">Time Needed</label>
    <br>
    <input type="time" name="Time Needed">
  </div>
  <div class="form-inputs">
    <label for="Date Needed">Date Needed</label>
    <br>
    <input type="date" name="Date Needed">
  </div>
  <div class="form-inputs">
    <label for="Hours Needed">Total Hours Needed</label>
    <br>
    <input type="integer" name="Hours Needed" id="Hour">
  </div>
  <div class="form-inputs">
    <label for="Total Cost">Total Cost</label>
    <br>
    <p name="Total Cost"></p>

  <span id="total"> </span>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-success" %>
    </div>
  </div>
  <% end %>
</div>

<script>
  const hourlisten = document.getElementById('Hour');
  hourlisten.addEventListener('keyup', (event) => {
      // do something on click of an element
      // console.log(`Your total cost is ${event x 15}`);
      let hour = parseInt(event.target.value);
      if (hour == null || Number.isNaN(hour)) {
        hour = 0
      }
      let wage = 15;
      let text = `Your total cost is: ${hour} hours x ${wage}/per hour = ${wage * hour}`;
      let insert = document.getElementById('total')
      insert.innerHTML = text
    });
  </script>
