<div class="edit align-items-center">
  <div class="form flex justify-content-center align-items-center">
  <h1> Confirm your booking!</h1>
    <%= render 'form', booking: @booking %>
  </div>
  <div class="image">
    <% if @service.photo_url.nil? %>
        <%= image_tag "phiver.png"%>
        <%else%>
        <%= cl_image_tag @service.photo %>
      <%end%>
  </div>
</div>


