<div class="edit align-items-center">
  <div class="form flex justify-content-center align-items-center">
  <h1> Confirm your booking!</h1>
    <%= render 'form', booking: @booking %>
  </div>
  <div class="image">
    <%= image_tag "phiver.png" %>
  </div>
</div>


