 <div class="footer mt-3 d-flex justify-content-end">
  <div class="footer-links">
    <a href="#"><i class="fab fa-cc-mastercard"></i></a>
    <a href="#"><i class="fab fa-cc-visa"></i></a>
    <a href="#"><i class="fab fa-cc-paypal"></i></i></a>
  </div>
